.wrapper-two {
    width: auto;
    margin: auto;
    padding-inline: 2rem;
}

.card {
    flex: 1;
    flex-basis: 200px;
    background: var(--gray);
    height: 30rem;
    border-radius: 2rem;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: transform .3s ease-in-out;
}

.card::before {
    content: '';
    position: absolute;
    inset: 0;
}

.h5-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    margin: 100px;
}

.card img {
    width: 50%;
    height: auto;
    background-color: rgb(122, 114, 114);
}

.logo {
    text-align: center;
    color: white;
    background-color: black;
}

.btn {
    background-color: rgb(185, 185, 167);
    border-radius: 2px;
    border: 1px solid black;
    margin: 1px;
    border-radius: 20px;
    color: #000;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
}
