*,
*::before,
*::after {
    box-sizing: border-box;
}


.video-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    /* width: 100%; */
    /* aspect-ratio: 16/9; */
}

iframe {
    width: 0%;
    height: 225px;
    border: none;
}

@media screen and (max-width:768px) {
    iframe {
        width: 100%;
        height: 250px;
    }

    .video-container {
        gap: 10px;
    }

    /* .video-wrapper{
        width: calc( 33.33% -20px); */
    /* } */

}

/* element style{
width: 200px;
    height: 300px;
    left: 0px; 
    top: -300px;
} */